@import 'core';

.light-gray-container {
	background-color: $light-gray;
}

// Colors
.colors-container {
	margin-top: 1.5em;
}
.colors-category {
	@include span-columns(8);
	@include shift(2);
	@include omega();
	padding-top: 1em;

}
.color-section-title {
	text-align: center;
	border-bottom: 1px solid $light-gray;
}
.color-grid {
	@include span-columns(8);
	@include shift(2 of 8);
}
.color {
	@include span-columns(2 of 8);
	border: 1px solid gray;
	border-radius: 3px;
	height: 6em;
	margin-top: 1em;
	&.primary.one {
		background-color: $light-blue;
	}
	&.primary.two {

	}
	&.primary.three {
	}
}
.secondary-colors {
	@include span-columns(8);
	@include shift(2);
	@include omega();
}
.color-secondary {
	@include span-columns(2);

}
