@import 'normalize/normalize.css';
@import 'bourbon/bourbon';
@import 'base/base';
@import 'neat/neat';

// As long as Styles is first element
.styles .header-nav li:nth-child(1) {
	background-color: $dark-orange;
}
.components .header-nav li:nth-child(2) {
	background-color: $dark-orange;
}

.site-header {
	background-color: $orange;
}

.logo {
	@include span-columns(4);
	margin-top: 0.5em;
	color: $white;
}
.header-nav {
	float: right;
	li {
		float: left;
		padding: 1em 2em;
		font-weight: 600;
		a {
			color: $white;
		}
		&:hover {
			background-color: $dark-orange;
		}
	}
}
.wrapper {
	@include outer-container;
	@include padding(1em);
	@include media($max-screen-up) {
		@include padding(0em);
	}
}
.row {
	@include row();
}
.logo-row {
	@include row();
	margin-top: 1em;
	text-align: center;
}

.light-gray-container {
	background-color: $light-gray;
}
.top-section {
	padding-top: 1em;
}

// Colors
.colors-container {
	@include row();
	margin-top: 1.5em;
}
.primary-colors {
	@include span-columns(8);
	@include shift(2);
}
.color-section-title {
	text-align: center;
	border-bottom: 1px solid $light-gray;
}
.color-primary {
	@include span-columns(2.66 of 8);
	border: 1px solid gray;
	border-radius: 3px;
	height: 6em;
	margin-top: 1em;
	&.one {
		background-color: $orange;
	}
	&.two {

	}
	&.three {
	}
}
.secondary-colors {
	@include row();
}
.color-secondary {
	@include span-columns(2);
}

.grays {
	@include row();
}
.heading-divider {
	border-bottom: 3px solid #333;
	@include margin (1em null 1em null);
	@include padding (0.2em null 0.2em null);
}



footer {
	border-top: 1px solid $light-gray;
	padding-top: 2em;
	margin-top: 3em;
	text-align: center;
}

.copyright {
	margin-top: 1em;
	margin-bottom: 1em;
	opacity: 0.75;
}