%header.site-header
  .wrapper
    .logo
      %h3 Pattern Library
    %nav
      %ul.header-nav
        %li
          %a{:href => "styles.html"} styles
        %li
          %a{:href => "components.html"} components
        %li
          %a{:href => "templates.html"} templates

