---
title: Pattern Library Elements
body_class: elements
---

= stylesheet_link_tag "elements"

.light-gray-container.top-section
  .wrapper
    %section.style-overview
      %p.concept-text Some of the smaller pieces of the puzzle

.wrapper
  %section.element
    %h3 Buttons
    .description
      %p Morbi odio eros, volutpat ut pharetra vitae, lobortis sed nibh. Quam temere in vitiis, legem sancimus haerentia.
    .visuals
      %button.primary-button Primary Button
      %button.secondary-button Secondary Button
    %pre.code
      %code
        :code
          # lang: html
          <button class="primary">Primary Button</button>