---
title: Pattern Library Styles
body_class: styles
---
= stylesheet_link_tag "styles"

.light-gray-container.top-section
  .wrapper
    %section.style-overview
      %p.concept-text White space and elegant typography


.wrapper
  %section.style-colors
    %h3 Colors
    %p Some of the main colors used in the appliction
    #primary-colors.colors-category
      %h4.color-section-title Primary Colors
      .color-grid
        .color.primary.one
        .color.primary.two
        .color.primary.three
    #secondary-colors.colors-category
      %h4.color-section-title Secondary Colors
      .color-grid
        .color.secondary.one
        .color.secondary.two
        .color.secondary.three